<div class="container" id="recipe-container">
  <h2><%= meal.name %></h2>
<img src="<%= meal.image %>" alt="<%= meal.name %>" class="recipe-img">

<h3>Ingredients</h3>
<ul>
  <% meal.ingredients.forEach(ingredient => { %>
    <li><%= ingredient %></li>
  <% }) %>
</ul>

<h3>Instructions</h3>
<ol>
  <% meal.steps.forEach(step => { %>
    <li><%= step %></li>
  <% }) %>
</ol>


<script src="/js/app.js"></script>
