<section>
  <h2>Suggested Meals</h2>
  <div class="suggestion-grid">
    <% meals.forEach(meal => { %>
      <div class="meal-card">
        <a href="/recipe?id=<%= meal.id %>" class="meal-card">
        <img src="<%= meal.image %>" alt="<%= meal.name %>">
        <h3><%= meal.name %></h3>
        <p><%= meal.calories %> cal</p>
        </a>
        <form>
          <input type="hidden" name="meal_name" value="<%= meal.name %>">
          <button type="submit" class="favorite">❤️ Add to Favorite</button>
        </form>
      </div>
    <% }); %>
  </div>
</section>
